<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">

<head>
    <!-- Page specific head additions -->
    <title>Login</title>
</head>

<body>
<th:block layout:fragment="body" th:remove="tag">

    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom border-primary text-dark">
            <span class="fs-4">Login Page</span>
        </header>
    </div>

    <div class="container py-4 text-light bg-success">

        <div class="container bg-secondary py-4">
            <div class="p-5 mb-4 bg-light text-dark rounded-3">
                <form action="#" th:action="@{/authenticateForm}" th:object="${person}" th:method="post">
                    <label for="email">Email:</label><br>
                    <input type="text" id="email" name="email" th:field="*{email}"><br>
                    <label for="password">Password:</label><br>
                    <input type="password" id="password" name="password" th:field="*{password}"><br><br>
                    <input type="submit" value="Login">
                </form>
            </div>
            <p th:if="${error}" th:text="${error}" class="error"></p>
        </div>

    </div>

</th:block>
</body>
